<div class="card mt-4">
  <div class="row">

    <div class="col-md-12">
      <h1> BAR</h1>
      <%= image_tag "bar-wine.png", class: "d-block w-100", style: "height: 700px; object-fit: cover;" %>
    </div>
  </div>
</div>
<style>

  body {
   {
    background-image: url('bar-wine.png');
    /* background-image: url("<%= asset_path('bar-wine.png') %>"); */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
}
</style>
