
<h2 class="galeria mt-4 text-black"></h2>
<div class="carousel-container mt-4">
  <div class="carousel-slide">
   <%= image_tag "image1.png", alt: "Image 1", class: "" %>
   <%= image_tag "chad-montano-MqT0asuoIcU-unsplash.jpg", alt: "Image 2", class: "" %>
   <%= image_tag "chad-montano-MqT0asuoIcU-unsplash.jpg", alt: "Image 3", class: "" %>
  </div>

  <div class="carousel-navigation">
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
  </div>

  <div class="carousel-bullets">
      <span class="bullet"></span>
      <span class="bullet"></span>
      <span class="bullet"></span>
  </div>
</div>
<script src="<%= asset_path 'carousel.js' %>"></script>
