<footer>
        <!-- Social media links & icons -->
  <ul class="social-media-icons" id="contact"> <!-- Adicionado id "contact" -->
    <li><a href="#contact"><img src="./img/icon-twitter.svg" alt="twitter" class="social-icon"></a></li>
    <li><a href="#contact"><img src="./img/icon-facebook.svg" alt="facebook" class="social-icon"></a></li>
    <li><a href="#contact"><img src="./img/icon-instagram.svg" alt="instagram" class="social-icon"></a></li>
  </ul>

  <!-- Legal links in the footer -->
  <p>
      <a href="#">legal</a> | <a href="#">cookies</a> | <a href="#">sitemap</a> | <a href="#page-top"
          class="button-back-top">back to top &#11014;</a>
  </p>

  <!-- Copyrights -->
  <p class="rights">&copy; 2023 Pizzaria Tryga. All rights reserved.</p>
</footer>

<style>
  footer {
  align-self: stretch;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.04);
  background-color:rgb(27, 27, 27);
  padding: 2rem 0;
  margin-top: auto;
  padding: 1rem 0 2rem 0;
}
p{
  color: white;
  font-size: small;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.social-icon {
  height: 2rem;
  min-height: 2rem;
  filter: invert(100%);
  margin: 1rem;
}

.button-back-top {
  align-self: flex-end;
  text-align: right;
  margin: 0.5rem;
}

.rights {
  font-size: small;
  margin-top: 1rem;
}
</style>
