<div data-controller="map"
     data-map-api-key-value="<%= ENV['pk.eyJ1IjoicmljY2lib3NhIiwiYSI6ImNtZDY5eHA5aDA2b3IyanIwOXdmN3pnemEifQ.70K47iG7Cg77fScVeHJVew'] %>"
     data-map-markers-value="<%= @markers.to_json %>"
     style="width: 100%; height: 400px;">
</div>
