<nav>
    <div class="logo">
        <%=  image_tag "tryga.png", alt: "Logo", class: "logo ", style:"height: 70px;" %>
    </div>
  <ul class="menu">
      <li><a href="#about">About</a></li>
      <li><a href="#pizza">Pizzas</a></li>
      <li><a href="#drinks">Drinks</a></li>
      <li><a href="#contact">Contact</a></li>
  </ul>

  <div class="burger-menu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
  </div>
</nav
